<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>

<section class="ef-breadcrumbs ef-bottom-2_18">	
<nav class="row">
	<div class="large-6 small-12 columns">
		<h3>Calendar<small>See What's On the PACT Calendar</small></h3>
	</div>
	
	<div class="large-6 small-12 columns text-right">
		<ul class="breadcrumbs">
		  <li><%= link_to "Home", root_path %></li>
		  <li class="current"><a href="#">Calendar</a></li>
		</ul>
	</div>
</nav>	
</section>

<div class="row">
  <div class="large-12 columns">
  <p id="notice"><%= notice %></p>

  <%= raw(event_calendar) %>

</div>

<%= render :partial => "layouts/join_us" %>
