<div class="ef-post">

	<div class="row">

		<div class="large-12 columns">
		
			<header>
				
				<h4>										
					<a href="blog-single.html" class="ef-latest-thumb">
					
						<span class="ef-date-comment text-center">
							<time datetime="2013-04-03">
								<span class="ef-date ef-round">
									<span>3</span><br />
									<span class="ef-uppercase">Apr</span>
								</span>
							</time>
							
							<span class="ef-comments hide-for-print">8</span>
						</span>
						
						<%= link_to_unless_current post.title, post %>
						
						<span class="ef-from-blog-img ef-proj-img"><img class="ef-radius" src="<%= image_path('content/img360x224.jpg') %>" alt="" /><span class="ef-loader"><span></span></span></span>
					</a>										
				</h4>
				
				<div class="ef-bloginfo">
					<ul class="inline-list ef-uppercase">
						<li class="ef-bloginfo-author">By <a href="#">
						    <%= post.author_name %></a></li>
						<li class="ef-bloginfo-cat">In: <a href="#">Category</a></li>
					</ul>
				</div>
				
			</header>
			 <p><%= post.content.html_safe %></p>
			 <p><a class="ef-more" href="<%= post_path(post) %>">Read More &#8594;</a></p>
		</div>
	</div>
</div>
