<p id="notice"><%= notice %></p>
<%= link_to '&larrow; Back', posts_path %>

<%= render :partial => @post %>


<h2>Comments</h2>
  <div id="comments">
    <%= render :partial => @post.post_comments %>
  </div>

<%= form_for [@post, PostComment.new], :remote => true do |f| %>
  <p>
    <h4><%= f.label :body, "New comment:" %></h4><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>